In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv('penny.csv')
data_df

,Unnamed: 0,Listing,Actions,Avg Sold Price,Avg Shipping,Total Sold,Item_Sale,Bids,Date Last Sold
0,0,", preview full size imageLOT OF 10 Indian Head...",EditSell SimilarExclude listing,$18.69Fixed price,$0.00100% Free shipping,61,"$1,140.20",–,"Mar 30, 2024"
1,1,", preview full size image1862 CN INDIAN HEAD C...",EditSell SimilarExclude listing,$16.13Fixed price,$0.00100% Free shipping,45,$725.78,–,"Mar 30, 2024"
2,2,", preview full size imageINDIAN HEAD CENT PENN...",EditSell SimilarExclude listing,$9.99Auction,$5.000% Free shipping,1,$9.99,1,"Mar 30, 2024"
3,3,", preview full size imageIndian Head Penny Lot...",EditSell SimilarExclude listing,$2.99Auction,$0.00100% Free shipping,1,$2.99,1,"Mar 30, 2024"
4,4,", preview full size imageINDIAN HEAD CENT PENN...",EditSell SimilarExclude listing,$9.99Auction,$5.000% Free shipping,1,$9.99,1,"Mar 30, 2024"
...,...,...,...,...,...,...,...,...,...
3695,45,", preview full size image1901 Rare 100 Year Ol...",EditSell SimilarExclude listing,$11.69Fixed price,$0.00100% Free shipping,1,$11.69,–,"Mar 10, 2024"
3696,46,", preview full size image1860 P United States ...",EditSell SimilarExclude listing,$9.99Auction,$0.00100% Free shipping,1,$9.99,1,"Mar 10, 2024"
3697,47,", preview full size image1866 INDIAN HEAD CENT...",EditSell SimilarExclude listing,$224.99Fixed price,$4.990% Free shipping,1,$224.99,–,"Mar 10, 2024"
3698,48,", preview full size image1880 Indian Head Cent...",EditSell SimilarExclude listing,$35.00Fixed price,$1.000% Free shipping,1,$35.00,–,"Mar 10, 2024"
3699,49,", preview full size image1885 P United States ...",EditSell SimilarExclude listing,$9.99Auction,$0.00100% Free shipping,1,$9.99,1,"Mar 10, 2024"

In [3]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag

# Download NLTK resources (only need to do this once)
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

# Function to extract keywords
def extract_keywords(text):
    tokens = word_tokenize(text)
    tagged_tokens = pos_tag(tokens)
    keywords = [word for word, pos in tagged_tokens if pos in ['NN', 'NNS', 'NNP', 'JJ']]
    return keywords

[nltk_data] Downloading package punkt to /Users/evanbruno/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/evanbruno/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [4]:


# Function to extract and format the first part of the string
def extract_and_format(value):
    parts = value.split('%')[0].split('$')[1]
    first_part = parts.strip()
    formatted_value = '{:.2f}'.format(float(first_part[1:]))
    return formatted_value
# Remove commas from all values in the DataFrame
data_df = data_df.replace(',', '', regex=True)
# 
data_df['Avg_Sold_Price'] = data_df['Avg Sold Price'].apply(lambda x: x.split('$')[1].split('F')[0].split('A')[0]).astype(float)

# 
data_df['Total_Sales'] = data_df['Item_Sale'].apply(lambda x: x.split('$')[1]).astype(float)

data_df['Total_Sold'] = data_df['Total Sold'].astype(float)

# Convert string to datetime
data_df['Date'] = pd.to_datetime(data_df['Date Last Sold'])

# Apply the function to the column
data_df['Shipping'] = data_df['Avg Shipping'].apply(lambda x: extract_and_format(x)).astype(float)

data_df.drop(columns=['Unnamed: 0', 'Actions', 'Avg Sold Price', 'Bids', 'Date Last Sold', 'Avg Shipping', 'Item_Sale', 'Total Sold'], inplace=True)

data_df['Listing'] = data_df['Listing'].apply(lambda x: x.split('image')[-1])

# Apply the function to both listing titles and descriptions
data_df['Title_Keywords'] = data_df['Listing'].apply(extract_keywords)

data_df

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords
0,LOT OF 10 Indian Head Cent Pennies in G/VG (10...,18.69,1140.20,61.0,2024-03-30,0.00,"[LOT, OF, Indian, Head, Cent, G/VG, PC, LOT, C..."
1,1862 CN INDIAN HEAD CENT PENNY G/VG FREE SHIPP...,16.13,725.78,45.0,2024-03-30,0.00,"[CN, INDIAN, HEAD, CENT, PENNY, G/VG, FREE, SH..."
2,INDIAN HEAD CENT PENNY WHEAT CENT PENNY ROLL L...,9.99,9.99,1.0,2024-03-30,0.00,"[INDIAN, HEAD, CENT, PENNY, WHEAT, CENT, PENNY..."
3,"Indian Head Penny Lot of ""1"" VERY NICE 1904 GO...",2.99,2.99,1.0,2024-03-30,0.00,"[Indian, Head, Penny, Lot, VERY, NICE, GOOD, O..."
4,INDIAN HEAD CENT PENNY WHEAT CENT PENNY ROLL L...,9.99,9.99,1.0,2024-03-30,0.00,"[INDIAN, HEAD, CENT, PENNY, WHEAT, CENT, PENNY..."
...,...,...,...,...,...,...,...
3695,1901 Rare 100 Year Old Indian Head Shield Penn...,11.69,11.69,1.0,2024-03-10,0.00,"[Rare, Year, Old, Indian, Head, Shield, Penny,..."
3696,1860 P United States Indian Head Penny1860 P U...,9.99,9.99,1.0,2024-03-10,0.00,"[P, United, Indian, Head, Penny1860, P, United..."
3697,1866 INDIAN HEAD CENT PENNY US Beautiful Coin1...,224.99,224.99,1.0,2024-03-10,0.99,"[INDIAN, HEAD, CENT, PENNY, US, Beautiful, Coi..."
3698,1880 Indian Head Cent Penny Fine Details1880 I...,35.00,35.00,1.0,2024-03-10,0.00,"[Indian, Head, Cent, Penny, Fine, Details1880,..."
3699,1885 P United States Indian Head Penny Semi-Ke...,9.99,9.99,1.0,2024-03-10,0.00,"[P, United, Indian, Head, Penny, Semi-Key, Dat..."

In [5]:
data_df['Month_Year'] = data_df['Date'].dt.strftime('%B %Y')

# Popular DF Whole

In [6]:
filtered_df= data_df.loc[data_df['Avg_Sold_Price'] > 10]
filtered_df

,Listing,Avg_Sold_Price,Total_Sales,Total_Sold,Date,Shipping,Title_Keywords,Month_Year
0,LOT OF 10 Indian Head Cent Pennies in G/VG (10...,18.69,1140.20,61.0,2024-03-30,0.00,"[LOT, OF, Indian, Head, Cent, G/VG, PC, LOT, C...",March 2024
1,1862 CN INDIAN HEAD CENT PENNY G/VG FREE SHIPP...,16.13,725.78,45.0,2024-03-30,0.00,"[CN, INDIAN, HEAD, CENT, PENNY, G/VG, FREE, SH...",March 2024
9,1908-S Indian Head Cent Penny Better Date1908-...,71.00,71.00,1.0,2024-03-30,0.25,"[1908-S, Indian, Head, Cent, Penny, Better, Da...",March 2024
10,1901 Indian Head Cent Penny Red Gem BU++ RD190...,128.50,128.50,1.0,2024-03-30,0.25,"[Indian, Head, Cent, Penny, Red, Gem, BU++, RD...",March 2024
11,1894 Indian Head Cent Penny Choice Uncirculate...,177.50,177.50,1.0,2024-03-30,0.25,"[Indian, Head, Cent, Penny, Choice, Uncirculat...",March 2024
...,...,...,...,...,...,...,...,...
3691,1873 Indian Head Cent Penny M35861873 Indian ...,18.00,18.00,1.0,2024-03-11,0.95,"[Indian, Head, Cent, Penny, M35861873, Indian,...",March 2024
3693,50 INDIAN HEAD/TEENS and 20'S WHEAT PENNIES 18...,77.50,620.00,8.0,2024-03-11,0.78,"[INDIAN, HEAD/TEENS, WHEAT, PENNIES, PDS, OLD,...",March 2024
3695,1901 Rare 100 Year Old Indian Head Shield Penn...,11.69,11.69,1.0,2024-03-10,0.00,"[Rare, Year, Old, Indian, Head, Shield, Penny,...",March 2024
3697,1866 INDIAN HEAD CENT PENNY US Beautiful Coin1...,224.99,224.99,1.0,2024-03-10,0.99,"[INDIAN, HEAD, CENT, PENNY, US, Beautiful, Coi...",March 2024
3698,1880 Indian Head Cent Penny Fine Details1880 I...,35.00,35.00,1.0,2024-03-10,0.00,"[Indian, Head, Cent, Penny, Fine, Details1880,...",March 2024

In [7]:
from collections import Counter

In [8]:

def extract_phrases(title):
    tokens = title.split()  # Tokenize the title
    phrases = []
    for i in range(len(tokens)):
        for j in range(i + 1, min(i + 6, len(tokens) + 1)):  # Generate combinations of 2 to 5 words
            phrase = ' '.join(tokens[i:j])
            if len(phrase.split()) >= 2 and len(phrase.split()) <= 5:  # Check if phrase length is between 2 and 5
                phrases.append(phrase)
    return phrases

# Apply the function to the Titles column
phrases = filtered_df['Listing'].apply(extract_phrases).sum()

# Count the occurrences of each phrase
phrase_counts = Counter(phrases)

# Find the most common phrases
most_common_phrases = phrase_counts.most_common()

most_common_phrases_df = pd.DataFrame(most_common_phrases, columns=['Name', 'Count'])
most_common_phrases_df.head(25)

                             Name  Count
0                     Indian Head   2953
1                       Head Cent   1784
2                Indian Head Cent   1769
3                      Cent Penny   1638
4                 Head Cent Penny   1376
5          Indian Head Cent Penny   1363
6                      Head Penny    633
7               Indian Head Penny    600
8                     INDIAN HEAD    418
9               Cent Penny CHOICE    266
10                   Penny CHOICE    266
11  Indian Head Cent Penny CHOICE    264
12         Head Cent Penny CHOICE    264
13                    Indian Cent    236
14              Indian Cent Penny    209
15                   Head Pennies    189
16                      HEAD CENT    188
17            Indian Head Pennies    180
18               INDIAN HEAD CENT    177
19                      ---- Nice    168
20                     Penny ----    150
21                     HEAD PENNY    148
22         Indian Cent Penny ----    148
23                Cent Penny ----    148
24    Indian Cent Penny ---- Nice    142

In [9]:
type_product = most_common_phrases_df['Name'].head(25).tolist()

In [10]:

dict_sales = {'Phrase': [], 'Avg_Sold_Price_mean': [], 'Avg_Sold_Price_25': [], 'Avg_Sold_Price_75': [], 'Total_Sold': [], 'Ship_Cost': [], 'Count_Unique': []}


for phrase in type_product:
    # Filter rows where 'filtered_df' or 'Vitamin' is in the list
    temp_df = filtered_df[filtered_df['Listing'].apply(lambda x: phrase in x)]

    mean = temp_df.describe()['Avg_Sold_Price'].tolist()[1]

    percent_25 = temp_df.describe()['Avg_Sold_Price'].tolist()[4]

    percent_75 = temp_df.describe()['Avg_Sold_Price'].tolist()[6]

    total = temp_df['Total_Sold'].sum()

    ship = temp_df.describe()['Shipping'].tolist()[5]
    
    count =  temp_df.describe()['Total_Sold'].tolist()[0]
    
    dict_sales['Phrase'].append(phrase)
    dict_sales['Avg_Sold_Price_mean'].append(mean)
    dict_sales['Avg_Sold_Price_25'].append(percent_25)
    dict_sales['Avg_Sold_Price_75'].append(percent_75)
    dict_sales['Total_Sold'].append(total)
    dict_sales['Ship_Cost'].append(ship)
    dict_sales['Count_Unique'].append(count)
    
stats_df = pd.DataFrame.from_dict(dict_sales)

stats_df['Ratio_Sold_Count'] = stats_df['Total_Sold'] / stats_df['Count_Unique']

In [11]:
stats_df.sort_values(by='Avg_Sold_Price_mean', ascending=False).head(20)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
9,Cent Penny CHOICE,125.736015,36.4200,125.4400,133.0,0.000,133.0,1.000000
12,Head Cent Penny CHOICE,125.338636,36.3325,125.1100,132.0,0.000,132.0,1.000000
11,Indian Head Cent Penny CHOICE,125.338636,36.3325,125.1100,132.0,0.000,132.0,1.000000
10,Penny CHOICE,124.894627,36.1575,125.3300,134.0,0.000,134.0,1.000000
18,INDIAN HEAD CENT,106.170000,20.2250,89.9900,1691.0,0.000,124.0,13.637097
16,HEAD CENT,106.170000,20.2250,89.9900,1691.0,0.000,124.0,13.637097
13,Indian Cent,95.449746,17.0000,32.2500,186.0,0.000,118.0,1.576271
5,Indian Head Cent Penny,92.497898,17.6000,82.5900,1845.0,0.000,761.0,2.424442
4,Head Cent Penny,92.357667,17.6000,82.3050,1847.0,0.000,763.0,2.420708
2,Indian Head Cent,91.858039,17.0225,80.2200,3583.0,0.000,964.0,3.716805
1,Head Cent,91.748602,17.0900,80.0000,3585.0,0.000,966.0,3.711180
8,INDIAN HEAD,87.647212,19.9900,89.9900,2477.0,0.025,226.0,10.960177
3,Cent Penny,83.679933,17.5000,75.0000,1986.0,0.000,895.0,2.218994
0,Indian Head,82.250865,17.0900,72.0000,4453.0,0.190,1526.0,2.918087
6,Head Penny,80.929972,18.5750,70.0000,667.0,0.250,352.0,1.894886
7,Indian Head Penny,80.926714,18.6200,69.9975,665.0,0.250,350.0,1.900000
21,HEAD PENNY,61.050897,19.2325,88.7125,174.0,0.170,78.0,2.230769
17,Indian Head Pennies,44.033909,15.0000,52.4650,149.0,0.620,110.0,1.354545
15,Head Pennies,43.817387,15.0000,51.9800,150.0,0.630,111.0,1.351351
14,Indian Cent Penny,30.315810,17.0000,20.5000,105.0,0.000,105.0,1.000000

In [12]:
stats_df.sort_values(by='Total_Sold', ascending=False).head(20)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
0,Indian Head,82.250865,17.0900,72.0000,4453.0,0.190,1526.0,2.918087
1,Head Cent,91.748602,17.0900,80.0000,3585.0,0.000,966.0,3.711180
2,Indian Head Cent,91.858039,17.0225,80.2200,3583.0,0.000,964.0,3.716805
8,INDIAN HEAD,87.647212,19.9900,89.9900,2477.0,0.025,226.0,10.960177
3,Cent Penny,83.679933,17.5000,75.0000,1986.0,0.000,895.0,2.218994
4,Head Cent Penny,92.357667,17.6000,82.3050,1847.0,0.000,763.0,2.420708
5,Indian Head Cent Penny,92.497898,17.6000,82.5900,1845.0,0.000,761.0,2.424442
18,INDIAN HEAD CENT,106.170000,20.2250,89.9900,1691.0,0.000,124.0,13.637097
16,HEAD CENT,106.170000,20.2250,89.9900,1691.0,0.000,124.0,13.637097
6,Head Penny,80.929972,18.5750,70.0000,667.0,0.250,352.0,1.894886
7,Indian Head Penny,80.926714,18.6200,69.9975,665.0,0.250,350.0,1.900000
13,Indian Cent,95.449746,17.0000,32.2500,186.0,0.000,118.0,1.576271
21,HEAD PENNY,61.050897,19.2325,88.7125,174.0,0.170,78.0,2.230769
15,Head Pennies,43.817387,15.0000,51.9800,150.0,0.630,111.0,1.351351
17,Indian Head Pennies,44.033909,15.0000,52.4650,149.0,0.620,110.0,1.354545
10,Penny CHOICE,124.894627,36.1575,125.3300,134.0,0.000,134.0,1.000000
9,Cent Penny CHOICE,125.736015,36.4200,125.4400,133.0,0.000,133.0,1.000000
12,Head Cent Penny CHOICE,125.338636,36.3325,125.1100,132.0,0.000,132.0,1.000000
11,Indian Head Cent Penny CHOICE,125.338636,36.3325,125.1100,132.0,0.000,132.0,1.000000
14,Indian Cent Penny,30.315810,17.0000,20.5000,105.0,0.000,105.0,1.000000

In [13]:
stats_df.sort_values(by='Ratio_Sold_Count', ascending=False).head(20)

,Phrase,Avg_Sold_Price_mean,Avg_Sold_Price_25,Avg_Sold_Price_75,Total_Sold,Ship_Cost,Count_Unique,Ratio_Sold_Count
18,INDIAN HEAD CENT,106.170000,20.2250,89.9900,1691.0,0.000,124.0,13.637097
16,HEAD CENT,106.170000,20.2250,89.9900,1691.0,0.000,124.0,13.637097
8,INDIAN HEAD,87.647212,19.9900,89.9900,2477.0,0.025,226.0,10.960177
2,Indian Head Cent,91.858039,17.0225,80.2200,3583.0,0.000,964.0,3.716805
1,Head Cent,91.748602,17.0900,80.0000,3585.0,0.000,966.0,3.711180
0,Indian Head,82.250865,17.0900,72.0000,4453.0,0.190,1526.0,2.918087
5,Indian Head Cent Penny,92.497898,17.6000,82.5900,1845.0,0.000,761.0,2.424442
4,Head Cent Penny,92.357667,17.6000,82.3050,1847.0,0.000,763.0,2.420708
21,HEAD PENNY,61.050897,19.2325,88.7125,174.0,0.170,78.0,2.230769
3,Cent Penny,83.679933,17.5000,75.0000,1986.0,0.000,895.0,2.218994
7,Indian Head Penny,80.926714,18.6200,69.9975,665.0,0.250,350.0,1.900000
6,Head Penny,80.929972,18.5750,70.0000,667.0,0.250,352.0,1.894886
13,Indian Cent,95.449746,17.0000,32.2500,186.0,0.000,118.0,1.576271
17,Indian Head Pennies,44.033909,15.0000,52.4650,149.0,0.620,110.0,1.354545
15,Head Pennies,43.817387,15.0000,51.9800,150.0,0.630,111.0,1.351351
19,---- Nice,22.101975,16.2000,20.0000,81.0,0.000,81.0,1.000000
22,Indian Cent Penny ----,24.999355,17.1600,20.0000,62.0,0.000,62.0,1.000000
20,Penny ----,26.824762,17.1600,20.0000,63.0,0.000,63.0,1.000000
23,Cent Penny ----,24.999355,17.1600,20.0000,62.0,0.000,62.0,1.000000
12,Head Cent Penny CHOICE,125.338636,36.3325,125.1100,132.0,0.000,132.0,1.000000